<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Varenavn</th>
        <th>Pris</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <body>

    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td><a th:href="@{'/delete/' + ${product.id}}">Slet</a></td>
        <td><a th:href="@{'/update/' + ${product.id}}">Opdater</a></td>
    </tr>


    <a href="/create">Nyt produkt</a>


    </p>


</body>
</html>