<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input af data</title>
</head>
<body>
    <h1>Indtast data</h1>
    <form action="outputside" method="post">
        <label>Fornavn: </label><input type="text" name="first_name" placeholder="fornavn"/>
        <br>
        <label>Efternavn: </label><input type="text" name="last_name" placeholder="efternavn"/>
        <br>
        <input type="reset" value="Slet"/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>